{% extends "base_no_nav.html" %}
{% load static %}

{% block content %}
  <div class="container container--center">
    <div class="panel panel--information">
      <div class="container">
        <h2>Password reset</h2>
        <p>We have sent a message to your e-mail address with instructions on how to
           define a new password. If you haven't received it, please make sure to enter
           the email address you used to register your account in the password reset form.</p>
        <a href="{% url 'login' %}" class="btn btn--yellow">Back</a>
      </div>
    </div>
  </div>
{% endblock %}