{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container container--center">
    <div class="panel">
      <div class="panel__form">
        <h2>Password change</h2>
        {% if form.errors %}
        <p class="form__errors">Password does not meet the requirements.</p>
        {% endif %}
        <form action="." method="POST">
          {% for field in form %}
          <div class="form__pair">
            <label class="label">{{ field.label }}</label>
            <span>{{ field }}</span>
          </div>
          {% endfor %}
          <button type="submit" class="btn">Change</button>
          {% csrf_token %}
        </form>
      </div>
      <div class="panel panel__hints">
        <h2>Hints</h2>
        <ul class="hints-list">
          <li><p>Your password can’t be too similar to your other personal information.</p></li>
          <li><p>Your password must contain at least 8 characters.</p></li>
          <li><p>Your password can’t be a commonly used password.</p></li>
          <li><p>Your password can’t be entirely numeric.</p></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}