{% extends "base_no_nav.html" %}
{% load static %}

{% block content %}
  <div class="container container--center">
    <div class="panel">
      <div class="panel__form">
        <h2>Password reset</h2>
        {% if validlink %}
        {% if form.errors %}
        <p class="form__errors">Password does not meet the requirements.</p>
        {% endif %}
        <form action="." method="POST">
          {% for field in form %}
          <div class="form__pair">
            <label class="label">{{ field.label }}</label>
            <span>{{ field }}</span>
          </div>
          {% endfor %}
          <button type="submit" class="btn">Change</button>
          {% csrf_token %}
        </form>
        {% else %}
        <p>The link is expired or invalid, possibly because it was already in use.
            Please try again, start the password reset procedure.</p>
        <a href="{% url 'password_reset' %}" class="btn">Try again</a>
        {% endif %}
      </div>
      <div class="panel panel__hints">
        <h2>Hints</h2>
        <ul class="hints-list">
          <li><p>Your password can’t be too similar to your other personal information.</p></li>
          <li><p>Your password must contain at least 8 characters.</p></li>
          <li><p>Your password can’t be a commonly used password.</p></li>
          <li><p>Your password can’t be entirely numeric.</p></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}